{% include header.html %} 

      <div class="row header">
        <div class="twelve column ">
          <h4>camden bickel</h4>
        </div>
      </div>
      <div class='row'>
        <div class='three column link-container'>
          <ul class='link-list'>
            <li><a href="{{ site.url }}">about</a></li>
            <li><a href="">posts</a></li>
          </ul>
        </div>
      </div>
      <hr class='divider' />
      <div class='row'>
        <div class='two column'>
          <ul class='posts'>
              <li class='post'>
                <a href="{{ post.url }}" class='post-title'>{{ page.title }}</a>
                <div class='post-date'>{{ page.date | date: "%-d %B %Y" }}</div>
                <div class='post-excerpt'>
                  {{ content }}
                </div>
              </li>
          </ul>
        </div>
      </div>

{% include footer.html %}